html{
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    border: 2px solid black;
    /* height: 800px; */
    width: 100%;
    max-width: 600px;
    margin: 0px auto;
    padding: 2cm;
}

.headerContainer {
 background: tomato;
 display: flex;
 flex-flow: column wrap;
 align-content: center;
 font-weight: bold;
 border: 2px solid yellow;
 margin-bottom: 20px;
}

form{
    margin-top: 50px;
}

div{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label, input, button{
    font-size: 16px;
    line-height: 1.5;
    /* border: 1px solid black; */
}

label{
    text-align: right;
    width: 30%;
    margin-right: 2%;
}

input{
    flex: auto;
}

button{
    width: 70%;
    margin: 0 auto;
}

error-output{
    font-size: 12px;
    font-style: italic;
    color: rgb(230, 55, 55);
}